
.c1 .inner_card_b{
    background-image: url(https://i.pinimg.com/236x/13/ea/dc/13eadcceba927327ed13f63131b6d034.jpg);
}
.c2 .inner_card_m{
    background-image: url(https://i.pinimg.com/236x/b3/59/6e/b3596e623f3d6a976ae63a35a92cf4c9.jpg);
}
.c3 .inner_card_s{
    background-image: url(https://i.pinimg.com/236x/28/b6/79/28b679921a60c58b886d217e6e0749cb.jpg);
}
.c4 .inner_card_m{
    background-image: url(https://i.pinimg.com/236x/4f/7b/b1/4f7bb1a2ee6b43b25861f045482e50ba.jpg);
}
.c5 .inner_card_b{
    background-image: url(https://i.pinimg.com/236x/dc/a9/c9/dca9c9e23f12148364f62ada4ed3aaec.jpg);
}
.c6 .inner_card_m{
    background-image: url(https://i.pinimg.com/236x/9b/83/2d/9b832d7f9d8d9b995a1cef734faf56f7.jpg);
}
.c7 .inner_card_s{
    background-image: url(https://i.pinimg.com/236x/38/5e/20/385e202f02306e9a9ae10d499fee721c.jpg);
}
.c8 .inner_card_m{
    background-image: url(https://i.pinimg.com/236x/64/9d/0b/649d0b7f3f3110183ceb57ed2cfc7a36.jpg);
}
.c9 .inner_card_b{
    background-image: url(https://i.pinimg.com/236x/05/48/b4/0548b478cefac5c167d5ff1498e32734.jpg);
}
.c10 .inner_card_s{
    background-image: url(https://i.pinimg.com/236x/e2/6e/1e/e26e1e2d5a662f63c406469e7e1bb089.jpg);
}
.c11 .inner_card_s{
    background-image: url(https://i.pinimg.com/236x/2e/8e/a8/2e8ea8150547af4ab5291e42965d4a52.jpg);
}
.c12 .inner_card_m{
    background-image: url(https://i.pinimg.com/236x/cd/d0/0b/cdd00b3d53200ea223a610145564d2bf.jpg);
}
.c13 .inner_card_b{
    background-image: url(https://i.pinimg.com/236x/dd/7e/1c/dd7e1cd02c757be280550335fa7a0e15.jpg);
}
.c14 .inner_card_s{
    background-image: url(https://i.pinimg.com/236x/d3/e7/10/d3e7100faa263137ad2f03762eda8c1c.jpg);
}
.c15 .inner_card_m{
    background-image: url(https://i.pinimg.com/236x/0e/a4/73/0ea4735dc686e9930e97cadac8b98d03.jpg);
}
.c16 .inner_card_b{
    background-image: url(https://i.pinimg.com/236x/e6/9b/5f/e69b5f50fa060e84e5a3d1a825f41294.jpg);
}
.c17 .inner_card_m{
    background-image: url(https://i.pinimg.com/236x/34/a5/c0/34a5c0f4c4decf24e000156e1df4f67c.jpg);
}
.c18 .inner_card_b{
    background-image: url(https://i.pinimg.com/236x/7d/1e/85/7d1e85719d0ea5193aa5c629d239dbb4.jpg);
}
.c19 .inner_card_b{
    background-image: url(https://i.pinimg.com/236x/83/f5/24/83f52434543ae0fcd90580c1b2170bcb.jpg);
}
.c20 .inner_card_s{
    background-image: url(https://i.pinimg.com/236x/f7/32/5c/f7325c1aefcb4f87f5eebd3a723effc2.jpg);
}
.c21 .inner_card_s{
    background-image: url(https://i.pinimg.com/236x/a0/72/94/a07294ab1b3eee9e76cc872bb1b7b7ed.jpg);
}